In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from scipy import stats
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
file_to_load = "/Users/fernandaw/Documents/CODE/COVID-PREJUDICE/prejudice_filtered.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load, encoding= 'unicode_escape')

In [4]:
df.head()

,Random ID,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,...,Education_8_TEXT,YrsEmploy,Q99,CurrentlyEmploy,Industry,Q_BallotBoxStuffing,Q_RecaptchaScore,Q_RelevantIDDuplicate,Q_RelevantIDDuplicateScore,Q_RelevantIDFraudScore
0,603495195,11/2/20 15:57,11/2/20 16:02,0,173.93.230.117,100,306,1,11/2/20 16:02,R_1jD0rovGsEWpBok,...,NaN,5.0,Blow,1,4.0,NaN,NaN,NaN,NaN,NaN
1,807144387,11/2/20 15:56,11/2/20 16:02,0,24.125.203.214,100,372,1,11/2/20 16:02,R_1F36hgdO95BZb43,...,NaN,6.0,la bamba,1,4.0,NaN,NaN,NaN,NaN,NaN
2,874479466,11/2/20 15:57,11/2/20 16:02,0,74.139.34.111,100,308,1,11/2/20 16:02,R_2uHFUXEiCt6bX9R,...,NaN,12.0,Walk the Line,1,2.0,NaN,NaN,NaN,NaN,NaN
3,325277599,11/2/20 15:57,11/2/20 16:03,0,67.240.205.191,100,376,1,11/2/20 16:03,R_2coKdtLbKW4xHdz,...,NaN,12.0,Interstellar,1,8.0,NaN,NaN,NaN,NaN,NaN
4,688382728,11/2/20 15:58,11/2/20 16:04,0,64.183.114.182,100,396,1,11/2/20 16:04,R_2VLcsNhjYHWXHba,...,NaN,15.0,The Tenth Kingdom,1,15.0,NaN,NaN,NaN,NaN,NaN

In [5]:
# loc a specific row and use this to validate your steps after you create the list
df.loc[(df["Random ID"] == 144706383)]

,Random ID,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,...,Education_8_TEXT,YrsEmploy,Q99,CurrentlyEmploy,Industry,Q_BallotBoxStuffing,Q_RecaptchaScore,Q_RelevantIDDuplicate,Q_RelevantIDDuplicateScore,Q_RelevantIDFraudScore
38,144706383,11/2/20 16:11,11/2/20 16:23,0,73.208.88.102,100,739,1,11/2/20 16:23,R_2sYeCZ023WgKTz3,...,NaN,6.0,BACK TO FUTURE,1,12.0,NaN,NaN,NaN,NaN,NaN

In [6]:
# use this space to drop a list of the random ID's that are rejected
rejected = [120997555, 135794307, 144152673, 144706383, 145114616, 153351508,
           154161129, 175159924, 192718649, 194244403, 202069853, 206122255,
           206122255,216650040,218872737,220407042,240305183, 242998517,243585190,
           251578216,255945501,264455176,265368713,267160831, 284702893,291605500,
           300671783,302348996,306729891,325277599,328650251,330369589,330978939,
           340985803,351913020,355112243,369634962,376531060,387305141,412999839,
           415658442,416167028,418714545,427605172,447828564,448265245,453530551,
           458391034,471146368,472008118,474121206,474965262,479747057,480839354,
           482203736,503744193,505142836,515479506,518434566,528104151,528832892,
           529175953,538764304,538914042,539329199,546343878,546760211,554782452,
           559659099,567586724,574704603,589318510,591276416,591555325,595109448,
           596934110,599245636,603495195,604858691,607179717,611025292,612322414,
           614937712,623930746,626098700,628812425,641950000,664550781,671331238,
           678798973,680002231,682563598,684078816,686330386,698715470,711033053,
           735834459,737369469,737536673,738935493,750576188,758386166,764832936,
           774725771,777828372,778276487,778298192,800127502,800913256,803917612,
           806359675,810573767,833389026,849377626,858897399,861489706,864916688,
           869379163,870013246,874479466,877388302,879376868,883492194,892779994,
           894467416,894734119,895254668,899403984,905182401,909923801,916335178,
           918311230,925457168,936484651,940976208,951779986,959794470,964876108,
           965037590,970467880,971914280,973778980,986042046,987158905,995896708]

In [7]:
# create a dataframe with rejected IDs, then one with accepted IDs
rejected_IDS = df[df['Random ID'].isin(rejected)] #the only difference here is the ~ symbol
accepted_IDS = df[~df['Random ID'].isin(rejected)]

In [8]:
rejected_IDS

,Random ID,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,...,Education_8_TEXT,YrsEmploy,Q99,CurrentlyEmploy,Industry,Q_BallotBoxStuffing,Q_RecaptchaScore,Q_RelevantIDDuplicate,Q_RelevantIDDuplicateScore,Q_RelevantIDFraudScore
0,603495195,11/2/20 15:57,11/2/20 16:02,0,173.93.230.117,100,306,1,11/2/20 16:02,R_1jD0rovGsEWpBok,...,NaN,5.0,Blow,1,4.0,NaN,NaN,NaN,NaN,NaN
2,874479466,11/2/20 15:57,11/2/20 16:02,0,74.139.34.111,100,308,1,11/2/20 16:02,R_2uHFUXEiCt6bX9R,...,NaN,12.0,Walk the Line,1,2.0,NaN,NaN,NaN,NaN,NaN
3,325277599,11/2/20 15:57,11/2/20 16:03,0,67.240.205.191,100,376,1,11/2/20 16:03,R_2coKdtLbKW4xHdz,...,NaN,12.0,Interstellar,1,8.0,NaN,NaN,NaN,NaN,NaN
5,806359675,11/2/20 15:59,11/2/20 16:05,0,63.155.89.125,100,312,1,11/2/20 16:05,R_1IAEEvK8bBs7kYi,...,NaN,NaN,Harry potter,1,2.0,NaN,NaN,NaN,NaN,NaN
10,973778980,11/2/20 15:57,11/2/20 16:06,0,75.67.248.197,100,546,1,11/2/20 16:06,R_2OHAAcHvBvZEDfd,...,NaN,35.0,DARK NIGHT,1,10.0,NaN,NaN,NaN,NaN,NaN
12,351913020,11/2/20 15:58,11/2/20 16:07,0,196.17.65.167,100,558,1,11/2/20 16:07,R_29deL7vOLFJCbHe,...,NaN,34.0,101 Dalmations,1,7.0,NaN,NaN,NaN,NaN,NaN
13,810573767,11/2/20 15:58,11/2/20 16:08,0,75.81.41.36,100,589,1,11/2/20 16:08,R_3Uz4MgQyoZBEgYV,...,NaN,11.0,inception,1,NaN,NaN,NaN,NaN,NaN,NaN
14,803917612,11/2/20 16:01,11/2/20 16:09,0,65.185.93.122,100,447,1,11/2/20 16:09,R_VUR1YCy0LoGs1EZ,...,NaN,6.0,LOVE,1,10.0,NaN,NaN,NaN,NaN,NaN
16,376531060,11/2/20 15:57,11/2/20 16:09,0,47.156.227.163,100,729,1,11/2/20 16:09,R_DraVCNj62sdpmRX,...,NaN,2.0,i am legend,2,21.0,NaN,NaN,NaN,NaN,NaN
17,482203736,11/2/20 16:02,11/2/20 16:10,0,24.170.204.60,100,476,1,11/2/20 16:10,R_8j3cTdbUAjsGyk1,...,NaN,5.0,Back to the Future,1,7.0,NaN,NaN,NaN,NaN,NaN
20,518434566,11/2/20 15:59,11/2/20 16:12,0,172.116.182.186,100,774,1,11/2/20 16:12,R_2UW7e7EdGp9gatp,...,NaN,12.0,avengers end game,1,17.0,NaN,NaN,NaN,NaN,NaN
22,858897399,11/2/20 15:58,11/2/20 16:14,0,196.17.64.51,100,962,1,11/2/20 16:14,R_RP2fkpwTkzg2Lnj,...,NaN,40.0,American Pir,1,5.0,NaN,NaN,NaN,NaN,NaN
24,951779986,11/2/20 15:59,11/2/20 16:14,0,108.247.214.245,100,916,1,11/2/20 16:14,R_SMLiBaVLCZAApDr,...,NaN,10.0,DARK NIGHT,1,11.0,NaN,NaN,NaN,NaN,NaN
25,503744193,11/2/20 16:03,11/2/20 16:15,0,172.88.55.220,100,686,1,11/2/20 16:15,R_2xK5ElPuthG5FP4,...,NaN,12.0,Avengers end game,1,17.0,NaN,NaN,NaN,NaN,NaN
30,684078816,11/2/20 16:13,11/2/20 16:19,0,196.17.64.17,100,384,1,11/2/20 16:19,R_1gGAeRuq9M5NOzL,...,NaN,12.0,avangers,1,9.0,NaN,NaN,NaN,NaN,NaN
31,291605500,11/2/20 16:01,11/2/20 16:20,0,99.87.232.179,100,1132,1,11/2/20 16:20,R_1nTo5F2bKGZCKIc,...,NaN,20.0,Titanic,1,15.0,NaN,NaN,NaN,NaN,NaN
32,800127502,11/2/20 16:14,11/2/20 16:20,0,74.193.219.151,100,383,1,11/2/20 16:20,R_3O0M5ecF7xppPni,...,NaN,10.0,Steel Magnolias,1,14.0,NaN,NaN,NaN,NaN,NaN
33,302348996,11/2/20 15:57,11/2/20 16:21,0,73.91.206.91,100,1474,1,11/2/20 16:21,R_1ClshtlwbQ1pUtj,...,NaN,14.0,Back to the Future,1,17.0,NaN,NaN,NaN,NaN,NaN
35,737536673,11/2/20 16:04,11/2/20 16:22,0,23.120.221.13,100,1111,1,11/2/20 16:22,R_81WadPAGkrtC3cZ,...,NaN,8.0,TITANIC,1,5.0,NaN,NaN,NaN,NaN,NaN
36,538764304,11/2/20 16:11,11/2/20 16:22,0,196.17.67.59,100,712,1,11/2/20 16:22,R_1MM3LlYcEpgfctl,...,NaN,6.0,lost girls,1,10.0,NaN,NaN,NaN,NaN,NaN
38,144706383,11/2/20 16:11,11/2/20 16:23,0,73.208.88.102,100,739,1,11/2/20 16:23,R_2sYeCZ023WgKTz3,...,NaN,6.0,BACK TO FUTURE,1,12.0,NaN,NaN,NaN,NaN,NaN
39,240305183,11/2/20 15:58,11/2/20 16:25,0,70.112.17.13,100,1636,1,11/2/20 16:25,R_1OjBJ8oPlNhkpl0,...,NaN,10.0,American factory,1,12.0,NaN,NaN,NaN,NaN,NaN
40,595109448,11/2/20 16:14,11/2/20 16:26,0,73.203.164.100,100,711,1,11/2/20 16:26,R_33y6umTYMcSTht7,...,NaN,20.0,back to the future 2,1,1.0,NaN,NaN,NaN,NaN,NaN
41,698715470,11/2/20 15:58,11/2/20 16:26,0,107.13.184.103,100,1662,1,11/2/20 16:26,R_1DRKipj2f9mHjL2,...,NaN,9.0,Harry Potter and the philosopher's stone,1,10.0,NaN,NaN,NaN,NaN,NaN
42,589318510,11/2/20 16:08,11/2/20 16:27,0,68.102.100.189,100,1174,1,11/2/20 16:27,R_1KeVqhgAro96T7l,...,NaN,20.0,Baby's day out,1,11.0,NaN,NaN,NaN,NaN,NaN
43,330369589,11/2/20 16:04,11/2/20 16:30,0,96.232.200.246,100,1564,1,11/2/20 16:30,R_RmowYp3hHS4FOxP,...,NaN,15.0,Jurassic park,1,11.0,NaN,NaN,NaN,NaN,NaN
45,680002231,11/2/20 16:22,11/2/20 16:33,0,75.172.32.21,100,666,1,11/2/20 16:33,R_cFKbc4TMQAfCpQR,...,NaN,NaN,Caption America,1,12.0,NaN,NaN,NaN,NaN,NaN
46,153351508,11/2/20 16:28,11/2/20 16:37,0,73.150.132.109,100,555,1,11/2/20 16:37,R_3oYnjy1r1HgFnCI,...,NaN,13.0,Avengers,1,10.0,NaN,NaN,NaN,NaN,NaN
52,528104151,11/2/20 16:38,11/2/20 16:54,0,184.155.209.209,100,964,1,11/2/20 16:54,R_10UlmK6j5xlJ8Dc,...,NaN,8.0,Avengers,1,5.0,NaN,NaN,NaN,NaN,NaN
53,539329199,11/2/20 16:46,11/2/20 16:54,0,67.10.140.119,100,477,1,11/2/20 16:54,R_2PkiUgbd3P8fKBt,...,NaN,7.0,THE GRANDFATHER,1,10.0,NaN,NaN,NaN,NaN,NaN
55,448265245,11/2/20 16:59,11/2/20 17:08,0,74.79.145.40,100,578,1,11/2/20 17:08,R_w1pkUhDQV2VCX8R,...,NaN,8.0,Deadpool,1,15.0,NaN,NaN,NaN,NaN,NaN
58,330978939,11/2/20 17:03,11/2/20 17:10,0,71.82.6.173,100,393,1,11/2/20 17:10,R_1lubGaO78KTasRW,...,NaN,7.0,Coach Carter,1,9.0,NaN,NaN,NaN,NaN,NaN
59,607179717,11/2/20 17:00,11/2/20 17:10,0,63.160.142.36,100,606,1,11/2/20 17:10,R_2zZ0o14Rmbkq3u9,...,NaN,30.0,CONJURING,1,11.0,NaN,NaN,NaN,NaN,NaN
67,758386166,11/2/20 16:59,11/2/20 17:15,0,107.77.202.84,100,954,1,11/2/20 17:15,R_DuBStkaa4padyQV,...,NaN,20.0,The Shawshank Redemption,1,9.0,NaN,NaN,NaN,NaN,NaN
69,800913256,11/2/20 17:01,11/2/20 17:16,0,174.192.133.125,100,909,1,11/2/20 17:16,R_1gG5jcGzyz1lmvr,...,NaN,21.0,NaN,1,7.0,NaN,NaN,NaN,NaN,NaN
70,418714545,11/2/20 16:59,11/2/20 17:18,0,47.37.117.131,100,1120,1,11/2/20 17:18,R_6CYFbJ6ffH6wgc9,...,NaN,5.0,All Animation,1,11.0,NaN,NaN,NaN,NaN,NaN
79,678798973,11/2/20 17:00,11/2/20 17:27,0,98.243.78.43,100,1598,1,11/2/20 17:27,R_24CPLosPdTR9PgU,...,NaN,25.0,money heist,1,1.0,NaN,NaN,NaN,NaN,NaN
83,870013246,11/2/20 17:47,11/2/20 17:58,0,68.249.177.135,100,639,1,11/2/20 17:58,R_3POKGTdk6y9pzbP,...,NaN,5.0,The Notebook,1,15.0,NaN,NaN,NaN,NaN,NaN
84,599245636,11/2/20 17:57,11/2/20 18:07,0,63.75.252.245,100,612,1,11/2/20 18:07,R_RffFzxGYW3lKQYp,...,NaN,36.0,The Dark Knight,1,2.0,NaN,NaN,NaN,NaN,NaN
87,916335178,11/2/20 18:20,11/2/20 18:29,0,67.243.132.238,100,516,1,11/2/20 18:29,R_2BtHpsc9J2J90bq,...,NaN,4.0,marval,1,10.0,NaN,NaN,NaN,NaN,NaN

In [9]:
accepted_IDS

,Random ID,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,...,Education_8_TEXT,YrsEmploy,Q99,CurrentlyEmploy,Industry,Q_BallotBoxStuffing,Q_RecaptchaScore,Q_RelevantIDDuplicate,Q_RelevantIDDuplicateScore,Q_RelevantIDFraudScore
1,807144387,11/2/20 15:56,11/2/20 16:02,0,24.125.203.214,100,372,1,11/2/20 16:02,R_1F36hgdO95BZb43,...,NaN,6.0,la bamba,1,4.0,NaN,NaN,NaN,NaN,NaN
4,688382728,11/2/20 15:58,11/2/20 16:04,0,64.183.114.182,100,396,1,11/2/20 16:04,R_2VLcsNhjYHWXHba,...,NaN,15.0,The Tenth Kingdom,1,15.0,NaN,NaN,NaN,NaN,NaN
6,629766792,11/2/20 15:57,11/2/20 16:05,0,71.238.89.122,100,511,1,11/2/20 16:05,R_2YxlWEQvkWwKsyC,...,NaN,29.0,Terminator 2,1,10.0,NaN,NaN,NaN,NaN,NaN
7,426010333,11/2/20 15:58,11/2/20 16:05,0,162.198.201.8,100,433,1,11/2/20 16:05,R_2ffCmrVxbFqvcTD,...,NaN,22.0,Patch Adams,1,7.0,NaN,NaN,NaN,NaN,NaN
8,116244099,11/2/20 15:57,11/2/20 16:06,0,74.133.26.142,100,534,1,11/2/20 16:06,R_2czUtB4W790NyYf,...,NaN,3.0,Frozen,1,3.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,910719533,11/3/20 11:06,11/3/20 11:17,0,47.17.248.212,100,632,1,11/3/20 11:17,R_24i7wMX1l9gErZW,...,NaN,5.0,interstellar,1,10.0,NaN,NaN,NaN,NaN,NaN
148,501170904,11/3/20 10:40,11/3/20 11:20,0,137.45.157.219,100,2368,1,11/3/20 11:20,R_1NFERdPwexIgGdb,...,NaN,5.0,The Greatest Showman,1,6.0,NaN,NaN,NaN,NaN,NaN
149,603611475,11/3/20 11:26,11/3/20 11:34,0,72.89.122.170,100,519,1,11/3/20 11:34,R_1ing7BdP1Dk0CLt,...,NaN,8.0,Bairava,1,12.0,NaN,NaN,NaN,NaN,NaN
150,320564806,11/3/20 11:29,11/3/20 11:36,0,63.160.143.138,100,461,1,11/3/20 11:36,R_D04G1wdvIdVc5ON,...,NaN,10.0,avatar,1,8.0,NaN,NaN,NaN,NaN,NaN
151,273149810,11/3/20 12:42,11/3/20 12:48,0,24.181.229.118,100,388,1,11/3/20 12:48,R_31bHeffBiGh6xcz,...,NaN,12.0,Gladiator,1,17.0,NaN,NaN,NaN,NaN,NaN

In [10]:
# repeat this code to see if the manipulation worked, for accepted IDs
accepted_IDS.loc[(df["Random ID"] == 144706383)]

Empty DataFrame
Columns: [Random ID, StartDate, EndDate, Status, IPAddress, Progress, Duration (in seconds), Finished, RecordedDate, ResponseId, RecipientLastName, RecipientFirstName, RecipientEmail, ExternalReference, LocationLatitude, LocationLongitude, DistributionChannel, UserLanguage, Q131, 20Hr, Q101, Risklevel, COVID_1, COVID_2, COVID_3, COVID_4, COVID_5, COVID_6, COVID_7, Q98_First Click, Q98_Last Click, Q98_Page Submit, Q98_Click Count, RWA_1, RWA_2, RWA_3, RWA_4, RWA_5, RWA_6, RWA_7, RWA_8, RWA_9, RWA_10, RWA_11, RWA_12, RWA_13, RWA_14, RWA_15, RWA_16, Q97_First Click, Q97_Last Click, Q97_Page Submit, Q97_Click Count, SDO_1, SDO_2, SDO_3, SDO_4, SDO_5, SDO_6, SDO_7, SDO_8, SDO_9, SDO_10, SDO_11, SDO_12, SDO_13, SDO_14, SDO_15, SDO_16, Q69_1, Q69_2, Q69_3, Q69_4, Q69_5, Q69_6, Q69_7, Q69_8, Q69_9, Q69_10, Q69_11, Q69_12, IPIPE_1, IPIPE_2, IPIPE_3, IPIPE_4, IPIPC_1, IPIPC_2, IPIPC_3, IPIPC_4, IPIPA_1, IPIPA_2, IPIPA_3, IPIPA_4, IPIPI_1, IPIPI_2, IPIPI_3, IPIPI_4, IPIPN_1, IPIPN_2, IPIPN_3, ...]
Index: []

[0 rows x 194 columns]

In [11]:
# repeat this code to see if the manipulation worked, for rejected IDs
rejected_IDS.loc[(df["Random ID"] == 144706383)]

,Random ID,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,...,Education_8_TEXT,YrsEmploy,Q99,CurrentlyEmploy,Industry,Q_BallotBoxStuffing,Q_RecaptchaScore,Q_RelevantIDDuplicate,Q_RelevantIDDuplicateScore,Q_RelevantIDFraudScore
38,144706383,11/2/20 16:11,11/2/20 16:23,0,73.208.88.102,100,739,1,11/2/20 16:23,R_2sYeCZ023WgKTz3,...,NaN,6.0,BACK TO FUTURE,1,12.0,NaN,NaN,NaN,NaN,NaN

In [12]:
# yay! Save accepted IDs to a new csv file for R analysis
accepted_IDS.to_csv(r'/Users/fernandaw/Documents/CODE/COVID-PREJUDICE/prejudice_filtered_2.0.csv')

In [14]:
IP_frequency = df["IPAddress"].value_counts()

for x in IP_frequency:
    if x != 1:
        print(x)
    else:
        print("safe participant")

safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant
safe participant